@(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>GAME Translation</title>

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap4/css/bootstrap.css")"/>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")"/>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("js/Magnific-Popup-master/dist/magnific-popup.css")"/>

        <script src="@routes.Assets.versioned("js/vendor/jquery-3.2.1.min.js")"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/popper.min.js"></script>
        <script src="@routes.Assets.versioned("bootstrap4/js/bootstrap.bundle.js")"></script>
        <script src="@routes.Assets.versioned("bootstrap4/js/bootstrap.js")"></script>
        <script src="@routes.Assets.versioned("js/Magnific-Popup-master/dist/jquery.magnific-popup.js")"></script>
        @*自作js*@
        <script src="@routes.Assets.versioned("js/mixin/optsmixin.js")"></script>
        @*自作js*@
        <script src="@routes.Assets.versioned("js/vendor/translation.js")"></script>
        @* fetch.js のロード https://github.com/github/fetch*@
        <script src="@routes.Assets.versioned("js/vendor/fetch.js")"></script>
        @* Riot.js のロード（プリコンパイル済み用） http://riotjs.com/v2/ja/ *@
        <script src="@routes.Assets.versioned("js/vendor/riot.js")"></script>
        <script src="@routes.Assets.versioned("tags/app/main.min.js")"></script>
    </head>
    <body>

        @content

    </body>
</html>
